body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fde3a7; /* Creamy background */
    color: #6b4226; /* Dark brown text color */
    text-align: center;
}

header {
    background-color: #d34c4c; /* Spicy red */
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #e4b993; /* Warm beige */
    padding: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: #6b4226; /* Dark brown text color */
    font-weight: bold;
    font-size: 1.2em; /* Slightly larger font size */
}

.hero {
    text-align: center;
    padding: 2em;
    background-color: #e4b993; /* Warm beige */
    border-bottom: 8px solid #6b4226; /* Dark brown border */
}

.hero img {
    max-width: 50%; /* Larger image size */
    height: auto;
    border-radius: 12px; /* More rounded corners */
}

.hero h2,
.hero p {
    color: #6b4226; /* Dark brown text color */
}

section {
    padding: 3em;
}

footer {
    text-align: center;
    color: #6b4226; /* Dark brown text color */
    padding: 1em;
    background-color: #e4b993; /* Warm beige */
}

/* Add this style for centering */
.menu-carousel {
    text-align: center;
}

.menu-item {
    display: inline-block;
    text-align: center;
    margin: 0 auto; /* Center each menu item */
}

.menu-item img {
    width: 450px; /* Slightly larger images */
    height: 500px;
    border-radius: 12px; /* More rounded corners */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-item-details {
    padding: 1em;
    background-color: #fde3a7; /* Creamy background */

}

/* Add this style for navigation arrows */
.slick-prev,
.slick-next {
    font-size: 28px; /* Larger arrow size */
    color: #6b4226; /* Dark brown text color */
}

.slick-prev {
    left: -40px; /* Further left position */
}

.slick-next {
    right: -40px; /* Further right position */
}

#contact {
    text-align: center;
    padding: 3em;
}

#contact h2 {
    font-size: 2em;
    color: #333;
}

#contact p {
    font-size: 1.2em;
    color: #666;
}

.contact-info {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.contact-info a {
    margin: 0 1em;
}

.contact-info img {
    width: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Make circular images */
    transition: transform 0.3s ease-in-out;
}

.contact-info a:hover {
    transform: scale(1.2); /* Enlarge images on hover */
}
